# Xcode
*.xcuserdata/
*.xcscmblueprint
*.xccheckout
xcuserdata/
DerivedData/
build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/.env

# CocoaPods
Pods/

# OS
.DS_Store
